@import 'variables';
@import 'compass/css3';

.mivhak-caption {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    margin: 5px;
    position: absolute;
    left: 0;
    right: 0;
    height: 14px;
    @include transition( all .2s ease-out );
}

.mivhak-collapsed .mivhak-caption {
    @include opacity(0);
    @include transform(translateY(10px));
}

.mivhak.mivhak-no-caption {
    margin-bottom: 30px;
}
    
[miv-theme="light"] .mivhak-caption {color: $theme-light-color}
[miv-theme="dark"] .mivhak-caption {color: $theme-dark-color}