@import '../variables';
@import 'compass/css3';

$width: 5px;
$padding: 10px;

.mivhak-scrollbar {
    position: absolute;
    @include opacity(0.8);
    @include transition(all 25ms linear);
    
    &:hover,
    &.mivhak-scrollbar-grabbed {
        cursor: pointer;
        @include opacity(1);
    }
    
    &.mivhak-h-scrollbar {
        height: $padding*2 + $width;
        bottom: 0;
    }

    &.mivhak-v-scrollbar {
        width: $padding*2 + $width;
        right: 0;
    }
    
    .mivhak-scrollbar-thumb {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    
    &.mivhak-v-scrollbar .mivhak-scrollbar-thumb {margin: $padding+$width $padding;}
    &.mivhak-h-scrollbar .mivhak-scrollbar-thumb {margin: $padding $padding+$width;}
}

[miv-theme="light"] .mivhak-scrollbar-thumb {background-color: $theme-light-color;}
[miv-theme="dark"] .mivhak-scrollbar-thumb {background-color: $theme-dark-color;}

body.mivhak-scrollbar-grabbed {cursor: pointer;}