@import '../variables';
@import 'compass/css3';

.mivhak-tab-pane {
    display: none;
    height: 100%;
    overflow: auto;
    @include border-radius(5px);
    @include box-shadow(inset 0 2px 2px rgba(0, 0, 0, 0.05));
    
    &.mivhak-tab-pane-active {
        display: block;
    }
    
    .mivhak-tab-pane-inner {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        
        pre {
            background-color: transparent;
            position: absolute;
            width: 100%;
            margin: 0;
            top:0;
            bottom:0;
            @include transition(all 25ms linear);

            .ace_scroller {
                box-shadow: none;
            }
            
            .ace_scrollbar {
                display: none;
            }
            
            .ace_layer {
                z-index: 0; // Prevent code from overlapping dropdown
            }
        }
    }
}

[miv-theme="light"] .mivhak-tab-pane { background-color: $theme-light-background; }
[miv-theme="dark"] .mivhak-tab-pane { background-color: $theme-dark-background; }