@import '../variables';
@import 'compass/css3';

.mivhak-top-bar {
    position: relative;
    z-index: 2; // Higher index than notifications
    @include opacity(1);
    @include transition(opacity .2s ease-out);
    
    .mivhak-controls {
        position: absolute;
        right: 0;
        top: 0;
        @include transition(transform .2s ease-out);
    }
    
    .mivhak-nav-tabs {
        @include transition(transform .2s ease-out);
    }
    
    .mivhak-line {
        height: 3px;
        position: absolute;
        bottom: -3px;
        @include transition( all .2s ease-out );
    }
    
    .mivhak-top-bar-button {
        display: inline-block;
        padding: 0.9em 1.2em;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
        @include user-select( none );
        
        &.mivhak-icon {
            line-height: 0;
            height: 15px;
            width: 15px;
            vertical-align: middle;
            position: relative;
        }
        
        &.mivhak-icon-cog.mivhak-button-active > svg {
            @include transform( rotateZ(45deg) );
        }
        
        &.mivhak-icon-play.mivhak-button-active > svg {
             
        }
        
        &> svg {@include transition( all 0.3s ease-out );}
    }
}

.mivhak-collapsed .mivhak-top-bar {
    @include opacity(0);
    
    .mivhak-nav-tabs, .mivhak-controls {
        @include transform(translateY(-10px));
    }
}

[miv-theme="light"] {
    .mivhak-top-bar-button {color: $theme-light-color}
    .mivhak-top-bar-button:hover {color: $theme-light-color-hover}
    .mivhak-icon svg {fill: $theme-light-color;}
    .mivhak-icon svg:hover {fill: $theme-light-color-hover;}
    .mivhak-line {background-color: $theme-light-color;}
}

[miv-theme="dark"] {
    .mivhak-top-bar-button {color: $theme-dark-color}
    .mivhak-top-bar-button:hover {color: $theme-dark-color-hover}
    .mivhak-icon svg {fill: $theme-dark-color;}
    .mivhak-icon svg:hover {fill: $theme-dark-color-hover;}
    .mivhak-line {background-color: $theme-dark-color;}
}