@import 'variables';
@import 'compass/css3';

.mivhak {
    font-family: Roboto, Arial, sans-serif;
    position: relative;
    margin: 60px auto;
    @include transition(margin .2s ease-out);
    
    &.mivhak-collapsed {
        margin: 30px auto;
    }
}