@import 'variables';
@import 'compass/css3';

.mivhak {
    font-family: Roboto, Arial, sans-serif;
    position: relative;
    margin: 60px auto;
    @include transition(margin .2s ease-out);
    
    &.mivhak-collapsed {
        margin: 30px auto;
    }
}

.mivhak-inline {
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
    font-size: 0.9em;
    padding: 0.2em 0.6em;
    
    &[miv-theme="light"] {background-color: $theme-light-background;}
    &[miv-theme="dark"] {background-color: $theme-dark-background;}
}