$theme-light-color: #7f8c8d;
$theme-light-green: #1abc9c;
$theme-light-background: #f0f6f7;
$theme-light-dropdown-bg: white;

$theme-dark-color: #ecf0f1;
$theme-dark-green: #1abc9c;
$theme-dark-background: #25384b;
$theme-dark-dropdown-bg: #1b2632;